* {
  box-sizing: border-box; 
}

body {
    background: #fff;
    background-image: url("https://images.pexels.com/photos/412462/pexels-photo-412462.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    font-size: 18px;
    font-family: Arial;
}
.container {
    max-width: 500px;
    width: 70%;
    margin: 20px auto;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}
h1 {
    text-align: center; 
    font-weight: bold;
    color: #cc0;
}
h2 {
   text-align: center;
}

p {
    font-weight: 400;
    text-align: justify;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.highlight {
    text-decoration: underline;
}

